@model CMS.Data.Entities.Product

@{
    Layout = "_LayoutAdmin";
}

<h2>Thêm sản phẩm</h2>

<form asp-action="Create"
      method="post"
      enctype="multipart/form-data">

    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label class="form-label">Tên sản phẩm</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Giá sản phẩm</label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Số lượng tồn kho</label>
        <input asp-for="StockQuantity" class="form-control" />
        <span asp-validation-for="StockQuantity" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Mã danh mục</label>
        <input asp-for="CategoryProductId" class="form-control" />
        <span asp-validation-for="CategoryProductId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Ảnh sản phẩm</label>

        <input type="file"
               name="ImageFile"
               class="form-control"
               accept="image/*" />
    </div>

    <button type="submit" class="btn btn-success">
        Lưu sản phẩm
    </button>

    <a asp-action="Index"
       class="btn btn-secondary">
        Quay lại
    </a>

</form>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}